# turns out lots of these files will be big
data/
# but keep the quality check data
!quality_check/data

# imputed data are large files as well
imputed/

# salmon output, transcriptome indices, and fastq files from the quality check
# analyses
quality_check/transcriptome_index
quality_check/quants
quality_check/data/fastq
quality_check/data/GRCz11

# can't distribute ZFIN data
quality_check/data/pathways/stage_ontology_2019.01.25.txt
quality_check/data/pathways/wildtype-expression_fish_2019.01.25.txt
quality_check/data/pathways/ZFIN_adult_tissue_prior_info.RDS
quality_check/data/pathways/ZFIN_stages_prior_info.RDS

# refine.bio test compendium is too big!
quality_check/refinebio-data/
