# turns out lots of these files will be big
data/

# imputed data are large files as well
imputed/

# randomly sampled data for requirements
impute_requirements/sampled_data/

# checkpoints for jupyter notebook
impute_requirements/\.ipynb_checkpoints/
